.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right bottom, #00d5ff, #00c19a);
}

.layout {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	column-gap: 50px;
}

.play-again {
	position: absolute;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.play-again-msg {
	font-size: 8rem;
}

.play-again-btn {
	font-size: 3rem;
	width: 40%;
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	background-color: #ffffff;
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
	transition: all 0.33s ease-out;
}

.play-again-btn:hover {
	background-color: #008cff;
	color: #fff;
}
